= form_for @journal, :html => { :class => 'form-horizontal' } do |f|
  %div.control-group
    = f.label :story, :class => 'control-label'
    %div.controls.span6
      = f.text_area :story, :class => 'text_area span6', :rows => "15"

  %div.form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
                journals_path, :class => 'btn'
