= form_for @journal, :html => { :class => 'form-horizontal' } do |f|
  %div.control-group
    %label{:for => 'story_theme', :class => 'control-label'} 
      =t 'theme'
    %div.controls
      = select("story", "theme", ["default","ambiance","blackboard","cobalt","eclipse","elegant","erlang-dark","lesser-dark","midnight","monokai","neat","night","rubyblue","solarized dark", "solarized light","twilight","vibrant-ink","xq-dark","xq-light"])
  %div.control-group
    %div.controls.span6
      = f.text_area :story, class: 'text_area span6', rows: '15', data: {'book-parser-url' => book_parser_path }
    %div.span6
  
  %div.form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
                journals_path, :class => 'btn'
